/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* expand vue transition */
.expand-leave-active,
.expand-enter-active {
  transition: all 100ms ease-in-out;
  overflow: hidden;
}

.expand-enter-to,
.expand-leave-from {
  height: 1.5rem;
}

.expand-enter-from,
.expand-leave-to {
  opacity: 0;
  height: 0;
}
